<div class="container">
  <!-- ------ -->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
      <div class="card" id="cardbox">
        <div class="card-header">Register</div>
        <div class="card-body">

          <!-- socail media group -->
          <div class="social-buttons d-flex flex-column">
            <a class="btn btn-md btn-block btn-fb"><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a class="btn btn-md btn-block btn-tw"><i class="fa-brands fa-twitter"></i> Twitter</a>
          </div>

          <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
          </div>
          <div class="form-group">
            <form [formGroup]="ngForm" (ngSubmit)="onSaveUser(ngForm)">
              <div class="form-group">
                <label class="control-label">Nom : </label>
                <input type="text" name="userName" required class="form-control" placeholder="Nom" formControlName="userName" required>
              </div>
              <div class="form-group">
                <label class="control-label">Mot de passe : </label>
                <input type="password" name="password" required class="form-control" placeholder="***********"
                  formControlName="password" required>
              </div>
              <!-- Submit -->
              <div class="form-group">
                <button type="submit" [disabled]="!ngForm.valid" class="btn btn-primary">Création du compte</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="display" class=" alert alert-success mt-5 col-md-3">
    Utilisateur enregistré.
  </div>
</div>

<!-- ---------- -->

