
  <nav class="navbar navbar-expand-sm" id="header">

    <a class="navbar-brand" href="#"><img class="logo" src="../assets/img/logo_g-c.png" alt="">TRAININGS</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/trainings">Liste des Formations</a>
      </li>
      <li class="nav-item" *ngIf="onConnectedAsAdmin()">
        <a class="nav-link" href="#" routerLink="/add-training">Ajouter une formation</a>
      </li> 
      <li class="nav-item">
        <a *ngIf="loggin" class="nav-link" href="#" routerLink="/form">Login</a>
        <a *ngIf="logout" class="nav-link" href="#" (click)="onLogOut()">Logout</a>
      </li>

    </ul>
    <div *ngIf="display" class="col-md-4 welcome">
      Bienvenue {{email}} <img src="../assets/img/robot.png">
    </div>
    <div class="cart d-flex align-items-center" id="Caddy">
      <a routerLink="/cart">
        <img src="../assets/img/cart.png" class="img_cart" alt="Panier" />
      </a>
      <h3 id="qty-cart">{{caddySize}}</h3>
    </div>
  </nav>



<router-outlet> </router-outlet>