<div class="container">

    <div *ngIf="listCategories else loading" class="md-6 d-flex flex-wrap">
        <div *ngFor="let category of listCategories">
            <button class="catList" (click)="getTrainingsByCategory(category.id)">{{category.name}}
            </button>
        </div>
    </div>

    <ng-container *ngIf="listTrainings else loading">
        <div class="trainingCard">
            <div *ngFor="let training of listTrainings">
                <div class="container-fluid ">
                    <div class="item product-content">
                        <!-- Restaurant Item -->
                        <div>
                            <!-- Item's image -->
                            <div>
                                <img class="img-responsive product-image"
                                    src="http://localhost:8080/api/download/{{training.imgUrl}}" alt="">
                            </div>
                            <!-- Item details -->
                            <div class="item-dtls">
                                <!-- product title -->
                                <h4>{{training.name}}</h4>
                                <p>{{training.description}}</p>
                                <!-- price -->
                                <span class="price">${{training.price}}</span>
                            </div>
                            <!-- add to cart btn -->
                            <div class="ecom">
                                <input type="number" name="quantity" [(ngModel)]="training.quantity" min="">
                                <a class="cart-button" (click)="onAddToCart(training)">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" *ngIf="onConnectedAsAdmin()">Ajouter une formation</button>
    </ng-container>

    <ng-template #loading>
        <div>Aucune donées à afficher !!!</div>
    </ng-template>
</div>