
<div class="container" [ngStyle]="{'filter':displayBlur}">




    <ng-container *ngIf="listTrainings else loading">
        <div class="trainingCard">
            <div *ngFor="let training of listTrainings">
                <div class="container-fluid ">
                    <div class="item product-content">
                        <!-- Restaurant Item -->
                        <div>
                            <!-- Item's image -->
                            <div>
                                <a class="x-del" (click)="delItem(training)"><img src="/assets/img/x-button.png"
                                    alt="delete"></a>
                                <img class="img-responsive product-image"
                                    src="http://localhost:8080/api/download/{{training.imgUrl}}" alt="">
                            </div>
                            <!-- Item details -->
                            <div class="item-dtls">
                                <!-- product title -->
                                <h4>{{training.name}}</h4>
                                <p>{{training.description}}</p>
                                <!-- price -->
                                <span class="price">${{training.price}}</span>
                                <div class="edit-img" (click)="openPopup(training)">
                                    <img  src="/assets/img/edit.png">
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <button class="btn btn-success" *ngIf="onConnectedAsAdmin()"><a >Ajouter une formation</a></button>   -->
    </ng-container>

    <ng-template #loading>
        <div>Aucune donées à afficher !!!</div>
    </ng-template>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modalSize">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" (click)="closePopup()"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit</h4>
        </div>
        <div class="modal-body">
          <div class="login-container animated fadeInDown bootstrap snippets bootdeys">
            <div class="loginbox bg-white">
              <div class="loginbox-social">
                <div class="social-title ">
                  <img src="http://localhost:8080/api/download/{{newTraining.imgUrl}}" alt="194x228" class="img-responsive">
                </div>
              </div>
              <form [formGroup]="myForm" (ngSubmit)="updateItem(myForm)">
                <div class="loginbox-textbox">
                    <label class="control-label">Nom de la formation : </label>
                  <input type="text" name="name" class="form-control" placeholder="Nom" formControlName="name">
                </div>
                <div class="loginbox-textbox">
                    <label class="control-label">Description de la formation : </label>
                  <input type="text" name="description" class="form-control" placeholder="Description"
                    formControlName="description">
                </div>
                <div class="loginbox-textbox">
                    <label class="control-label">Prix de la formation : </label>
                  <input type="text" name="price" class="form-control" placeholder="prix" formControlName="price">
                </div>
                  <!-- category -->
                  <div class="loginbox-textbox">
                    <label class="control-label">Catégorie de la formation : </label>
                    <select id="formCategory" class="form-control" formControlName="category">
                        <!-- <option selected>{{newTraining.category.name}}</option> -->
                        <option *ngFor="let c of listCategories" [ngValue]="c" [selected]="c.name===newTraining.category.name">{{ c.name }}</option>
                    </select>
                  </div>
                <div class="loginbox-textbox">
                  <label class="control-label">Img : </label>
                  <input type="file" name="imgURL" class="form-control" placeholder="imgURL" formControlName="imgURL" accept="image/*"
                    (change)="processFile($event)">
                </div>
                <!-- ----------- -->
                <div class="loginbox-submit">
                  <button type="submit" [disabled]="!myForm.valid" class="btn btn-success btn-block" id="modal-btn">
                    <span>Submit</span>
                  </button>
                </div>
                <div *ngIf="display" class=" alert alert-success col-md-12">
                  Formation modifiée.
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
